  /* .middleBloc {
    background-image: url(assets/images/);
  } */

  .subhead {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .testimony {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
