@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');


.abtHero-main {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.abtHero-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}

.abtHero-lefttext {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
}

.abtHero-lefttext h1 {
  font-family: 'Lora';
  font-size: 52px;
  font-weight: 500;
  letter-spacing: 0.003em;
  height: 35vh;
  width: 45vw;
}

.abtHero-lefttext p {
  font-family: 'Mulish';
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.005em;
  text-align: left;
}

.abtHero-subContainer-one {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 11vh;
    border: 1px solid rgba(14, 13, 13, 0.466);
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    z-index: 1;
}

.abtHero-subContainer-booking {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45vw;
    gap: 1rem;
}

.booking {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    width: 28vh;
}

.abtHero-subContainer-booking i {
    color: #ffa500;
    border: 0.5px solid #000;
}

.abt-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.abt-btn button {
    width: 12vw;
    height: 7vh;
    border: 0.5px solid#000;
    border-radius: 10px;
    font-weight: 100;
}

.abtHero-subContainer-booking p {
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: 600;
    font-size: 15px;
    gap: 1rem;
    font: "Mulish";
    width: 180px;
    margin: 0;
}

.abtHero-right {
    background-image: url('../../../assets/images/monkeys.jpg');
    background-size: cover;
    height: 119vh;
    width: 35vw;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -7%;
  }

.abtHero-subContainer small {
    opacity: 0.7;
    margin: 0;
}

.abthero-bdy-container {
    display: flex;
}

.abthero-bdy-one {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font: "Mulish";
    line-height: 30px;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.abthero-bdy-two {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font: "Mulish";
    line-height: 30px;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.abthero-heading h2 {
    font: "lora";
    font-weight: 700;
    font-size: 60px;
    line-height: 120px;
    text-align: center;
}

.abthero-heading p {
    border: 8px solid #304F47;
    width: 270px;
    margin-left: 40%;
    margin-top: 4%;
}

.abthero-bdy-one img {
   height: 320px; 
   width: 500px;
}

.abthero-bdy-two img {
    height: 320px; 
    width: 500px;
 }

.abthero-bdy-one p {
    height: 300px;
    width: 500px;
    opacity: 0.7;
}

.abthero-bdy-two p {
    height: 300px;
    width: 500px;
    opacity: 0.7;
}
