@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');


.tour-package-header {
    background-image: linear-gradient(
      rgba(31, 28, 28, 0.349),
      rgba(29, 25, 25, 0.144)
    ),
    url('../../assets/images/Image\ cover.png ');
  background-repeat: no-repeat;
  background-size: cover;
  height: 112vh;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tour-package-header h1 {
    height: 77px;
    width: 422px;
    font:"lora";
    font-weight: 700;
    text-align: center;
    font-size: 66px;
    margin: 0;
}

.tour-package-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 30vh;
    width: 25vw;
}

.tour-package-header-one {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0;
}

.tour-package-header-one i {
    height: 22px;
    width: 13px;
}

.tour-package-header-one h4 {
    line-height: 30px;
    font: "lora";
    font-weight: 700;
    font-size: 29px;
    padding: 2px;
    margin: 0;
}

.tour-package-header-one h5 {
    color: #C7923E;
    font-size: 29px;
    padding: 2px;
    margin: 0;
}

@media screen and (max-width: 760px) {
    .tour-package-header {
        width: 100%;
    }

    .tour-package-header h1 {
        font-size: 40px;
    }

    .tour-package-header h4 {
        font-size: 25px;
    }


}