@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');


.stickyBar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8vh;
  background: #304f47;
  justify-content: space-between;
  color: #fff;
  padding: 15px;
}

.icon1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 85px;
  font-size: 15px;
}

.icn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font: "Podkova";
}

.icn i {
  font-size: 15px;
}

.icon2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 25vw;
}

.icon2 span {
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 6px;
  font-size: 15px;
}

@media screen and (max-width: 760px) {
    .stickyBar {
      display: none;
     
    }

    .icon2 {
      display: none;
    }
}
